@import "~bulma/sass/utilities/initial-variables"

// Config vars
$footer-background-color: $white
$tabs-boxed-link-hover-background-color: $white
$tabs-boxed-link-radius: 6px

*
  font-family: "Lucida Grande","Lucida Sans Unicode", Arial, sans-serif
  font-size: 1rem

// Keep aspect ratio from orignal 950x175 logo at full screen width
.heroImage
  height: calc(100vw / 5.42857142857)


.columns
  margin: 0 !important

// Change order of main layout columns on small screens
#Columns
  @media only screen and (max-width: $tablet)
    flex-direction: column-reverse

@import "~bulma"
